#servicii {
    height: 100%;
}

#servicii .buton {
    display: block;
    padding: 1rem;
}

@media(max-width: 500px) {
    #navmenu {
        flex-direction: column;
        align-items: center;
    }
    
    #navmenu a {
        margin-bottom: 0.5rem;
        text-align: center;
    }
    
    #navmenu ul {
        padding: 0.5rem;
    }

    .detalii {
        width: auto;
        height: 110px;
        margin-bottom: 0;
    }

    #servicii img {
        width: 350px;
        height: 350px;
    }
}