:root {
    --main-color: #1a1a00;
    --secondary-color: #DEB887;
    --alt-color: rgba(26, 26, 0, 0.4);
    --last-color: #FFFF99;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

.clr {
    clear: both;
  }

.container {
    max-width: 1100px;
    margin: auto;
}

#nav-menu {
    background: var(--main-color);
    color: var(--secondary-color);
    overflow: auto;
}

#nav-menu h1 {
    font-family: sans-serif;
    font-size: 42px;
    float: left;
    padding-top: 10px;
}

#nav-menu a {
    color: var(--secondary-color);
}

#nav-menu ul {
    float: right;
    list-style: none;
}

#nav-menu ul li {
    float: left;
}

#nav-menu ul li a {
    display: block;
    padding: 20px;
    text-align: center;
    font-size: 22px;
}

#nav-menu ul li a:hover,
#nav-menu ul li a.current {
    background: var(--secondary-color);
    color: var(--main-color);
}

#welcome {
    display: block;
    background: url(../images/showcase2.jpg) no-repeat center center/cover;
    width: 100%;
    height: 700px;
}

#welcome .welcome {
    text-align: center;
    padding-top: 190px;
    justify-content: center;
}

#welcome .welcome h2 {
    color: var(--secondary-color);
    font-size: 42px;
    line-height: 1.2rem;
    padding-bottom: 2rem;
}

#welcome .welcome p {
    color: var(--secondary-color);
    font-size: 22px;
    line-height: 1.4rem;
    padding-bottom: 2rem;
}

.btn {
    display: inline-block;
    font-size: 22px;
    color: var(--main-color);
    background: var(--secondary-color);
    padding: 13px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.btn:hover {
    background: var(--main-color);
    color: var(--secondary-color);
}

#pareri {
    background: url(../images/beautiful.jpg) no-repeat center center/cover;
    padding-top: 50px;
    height: 500px;
}

#pareri h2 {
    color: var(--secondary-color);
    font-size: 50px;
    text-align: center;
    padding-bottom: 40px;
}

#pareri h3 {
    color: var(--secondary-color);
    font-size: 30px;
    padding-bottom: 10px
}

#pareri p {
    color: var(--secondary-color);
    font-size: 26px;
    line-height: 20px;
}

#pareri .pareri img {
    width: 80px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

#pareri .pareri {
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    opacity: 0.9;
}

#servicii .container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 87.6vh;
    align-items: center;
}

#servicii {
    background: url(../images/beautiful.jpg) no-repeat center center/cover;
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#servicii img {
    width: 400px;
    height: 400px;
}

#servicii img:hover {
    width: 450px;
    height: 450px;
    transition: all 2s;
}

#servicii .buton {
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
    flex-basis: 300px;
}

#text-content {
    background: var(--last-color);
    display: flex;
}

.main-text {
    margin: 4rem;
    padding-left: 150px;
    flex: 1;
}

.main-text h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.main-text h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.main-text h3 {
    font-size: 1.7rem;
    margin: 10px 40px;
}

.main-text p {
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.main-text li {
    font-size: 1.2rem;
    line-height: 2rem;
}

#continut {
    background: url(../images/beautiful.jpg) no-repeat center center/cover;
}

#contact {
    display: flex;
    height: 70vh;
    color: var(--secondary-color);
    font-size: 20px;
    padding-top: 30px;
}

#contact .contact-form {
    flex: 1;
}

#contact .contact-form .form-group {
    margin: 0.75rem;
}

#contact .contact-form label {
    display: block;
}

#contact .contact-form input,
#contact .contact-form textarea {
    width: 100%;
    padding: 0.5rem;
}

.form-group textarea {
    max-height: 100px;
    max-width: 910px;
}

iframe {
    width: 800px;
    height: 460px;
    flex: 1;
    margin: 10px 30px 10px 20px;
}

#detalii {
    display: block;
}

.contact-form h2 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

.contact-form p {
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: 40px;
}

#detalii {
    display: flex;
    justify-content: center;
    color: var(--secondary-color);
}

.detalii {
    background: rgba(26, 26, 0, 0.3);
    width: 300px;
    margin: auto;
    margin-bottom: 40px;
    padding: 30px 0;
}

.detalii h2 {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.detalii p {
    font-size: 18px;
    text-align: center;
}

footer {
    background: var(--main-color);
    width: 100%;
    height: 100%;
    color: var(--secondary-color);
    text-align: center;
    font-size: 25px;
    line-height: 50px;
}

.menu-item {
    width: 550px;
    float: left;
    margin: 0 40px 20px 0;
}

.menu h3 {
    margin-bottom: 80px;
}

.title {
    float: left;
    width: 360px;
    margin-right: 20px;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.price {
    float: right;
    width: 160px;
    text-align: right;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: bold;
}

.table h1 {
    background: var(--last-color);
    font-size: 40px;
    text-align: center;
    color: var(--secondary-color);
}

.table {
    background: var(--last-color);
    display: block;
    font-size: 22px;
}

table {
    margin: auto;
}

.table p {
    text-align: center;
}